@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/
body {
  font-family: "Roboto", sans-serif !important;
  background-color: #f5fbfb;
}

.nav-placeholder::placeholder {
  color: rgba(0, 0, 0, 0.46);
  font-size: 14px;
  font-weight: 400;
}
.placeholder::placeholder {
  color: rgba(0, 0, 0, 0.58) !important;
  font-size: 16px !important;
  font-weight: 400;
}

.dashboard-placeholder::placeholder {
  color: #000 !important;
  font-size: 14px;
  font-weight: 400;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url("./assets/images/calendarIcon.png") no-repeat center;
  background-size: contain;
  width: 10px; /* Adjust the width as needed */
  height: 10px; /* Adjust the height as needed */
  cursor: pointer;
}
